@import "../../Styles/mixins";
@import "../../Styles/variables";

.login-screen {
  @include full-screen;

  display: flex;

  background-color: #fff;

  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.login-form-container {
  @include flex-centered;

  width: 60%;
  height: 100%;
}

.login-form {
  width: 100%;
  max-width: 600px;

  padding: 30px;
}

.login-form > h1 {
  font: bold 50px Montserrat;
  margin-bottom: 24px;
}

.social-login-container {
  display: flex;
}

.social-login-spacer {
  flex: 1;
}

.login-form-spacer {
  @include flex-centered;

  height: 1px;
  background-color: #0001;
  margin: 50px 0;
}

.login-form-spacer p {
  height: 1px;
  margin: 0;
  padding: 0 25px;

  background-color: white;
  color: #424242;

  text-align: center;
  line-height: 0;
}

.credentials-login {
  display: flex;
  align-items: center;
}

.credentials-login-inputs {
  flex: 1;
}

.credentials-login-spacer {
  width: 1px;
  height: 110px;
  background-color: var(--primary-color);
  opacity: 0.5;
  margin: 2px 20px;
}

.credentials-login-button {
  @include flex-centered;

  width: 30%;
  padding: 15px;

  border: 1px solid var(--primary-color);
  border-radius: 5px;

  background-color: var(--primary-color);
  color: #fff;

  font: 800 16px Raleway;
  transition: 250ms;
}

.credentials-login-button:hover,
.credentials-login-button:focus {
  background-color: var(--primary-color)-darker;
  outline: none;
}

.credentials-login-alert {
  margin-top: 15px;
}
