@import "../../Styles/globals";
@import "../../Styles/globals";

.tabbed-section {
  margin-bottom: 25px;
  // position: relative;

  transition: 250ms;

  > .title {
    // @include card;
    @include flex-aligned;

    border-radius: 10px 25px 0 0;
    color: #fff;
    font-weight: bold;
    font-family: Raleway;
    width: fit-content;

    padding: 5px 20px 5px 10px;
    margin-bottom: 0px;

    > svg {
      margin-right: 5px;
    }
  }

  > .content {
    @include card;
    border-top-left-radius: 0px;
    // background-color: #e8f5e9;
    box-shadow: none;
    border: 1px solid #0001;
  }
}
