@import "../../Styles/mixins";
@import "../../Styles/variables";

$timeline-line-length: 2px;
$timeline-dot-size: 8px;
$timeline-color: var(--muted-text-color);

.timeline {
  position: relative;
  width: 100%;
  border-left: $timeline-line-length solid $timeline-color;
  padding-top: 20px;
  margin-left: 10px;
}

.timeline::before,
.timeline::after {
  content: " ";
  display: inline-block;
  border-radius: 100%;

  width: $timeline-dot-size;
  height: $timeline-dot-size;

  position: absolute;
  left: calc(
    calc(-#{$timeline-dot-size} / 2) - calc(#{$timeline-line-length} / 2)
  );

  background-color: $timeline-color;
}

.timeline::before {
  top: calc(-#{$timeline-dot-size} / 2);
}

.timeline::after {
  bottom: calc(-#{$timeline-dot-size} / 2);
}

.timeline-card {
  display: flex;
  flex-direction: column;
  padding: 10px;

  padding: calc(7px + 10px);
  padding-left: calc(7px + 10px);
  padding-top: calc(15px + 8px + 14px);
  margin-bottom: 10px;
  position: relative;
}

.timeline-card > .header {
  @include flex-aligned;

  position: absolute;
  top: 0;
  //   left: 0;
  left: calc(-#{$timeline-line-length} / 2 - 7px);
  display: flex;

  //   text-transform: uppercase;
  color: var(--muted-text-color);

  font: 14px Raleway;
}

.icon-bubble-wrapper {
  @include flex-aligned;

  height: 30px;
  background-color: var(--content-background-color);
}

.timeline-card > .header .icon-bubble {
  @include flex-centered;

  margin-right: 10px;
  width: 14px;
  height: 14px;

  border-radius: 100%;
  // border-radius: 5px;
  //   border: 1.5px solid #f4511e;
  background-color: #5c6bc0;

  //   background-color: var(--content-background-color);
}

.timeline-card > .header .icon-bubble > svg {
  width: 12px;
  height: 12px;
  //   color: #f4511e;
  color: #fff;
}

.timeline-card > .header > .date {
  // text-transform: uppercase;
  font: 600 14px Montserrat;
  color: var(--text-color);
}

.timeline-card > .event {
  margin-bottom: 15px;
  font: 16px Lato;

  border: 1px solid var(--transparent-border-color);
  border-radius: 5px;

  padding: 10px;

  transition: 250ms;
}

.timeline-card > .event:hover {
  transform: scale(1.01) translateY(-5px);
  box-shadow: 0 5px 10px #0002;
}

.timeline-card > .event > .type-row {
  @include flex-aligned;
  margin-bottom: 6px;
}

.timeline-card > .event > .type-row > .type {
  @include flex-aligned;

  // text-transform: uppercase;
  font: bold 16px Montserrat;
  color: var(--text-color);
}

.timeline-card > .event > .type-row > .type > svg {
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

.timeline-card > .event > .type-row > .spacer {
  margin: 0 10px;
  background-color: var(--muted-text-color);
  opacity: 0;
  width: 1px;

  height: 12px;
}

.timeline-card > .event > .type-row > .time {
  font: 14px Montserrat;
  color: var(--text-color);
}

@media (min-width: $breakpoint-tablet) {
  .timeline-card {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .timeline-card > .event {
    flex: 1;
    margin-right: 15px;
  }
}
